<% /* %>
 * Author: Kwok Wing Tang
 * File: about.ejs
 * Date: 2023-09-27
<% */ %>
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    </div>
    <img src="assets/my_photo.jpg" style="float: left; margin: 15px">
    <br>
    <p>
      My name is Kwok Wing Tang and I am an IT developer based in Toronto, Canada. I have a passion for creating beautiful and functional websites that showcase my skills and creativity. I have experience in HTML, CSS, JavaScript, PHP, and WordPress, and I am always eager to learn new technologies and tools.

      <p>I enjoy working on challenging projects that require problem-solving and innovation. Some of my recent works include a personal portfolio website, a blog platform, and an image classification software. You can see some of my projects on my <a href="https://github.com/winghk00"><i class="fa-brands fa-github"></i>GitHub profile</a> or on <a href="/projects">my Project page</a>.
      
      <p>When I am not coding, I like to read books, play video games, and watch movies. I also love to travel and explore new places and cultures. I am fluent in Mandarin and English, and I am currently learning Japanese.
      
      <p>If you are interested in working with me or just want to say hi, feel free to contact me through <a href="/contact">Contact Me page</a>. I look forward to hearing from you!
    
    <p><a href="content/resume.pdf"><i class="fa-solid fa-file-pdf fa-shake"></i>Download my Resume here!</a></p>
    <br>
    <br>
    </main>
    
    <!--bottom nav-->
    
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   