<% /* %>
 * Author: Kwok Wing Tang
 * File: contact.ejs
 * Date: 2023-09-27
<% */ %>
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    <h4><i class="fa-solid fa-heart"></i>Get in Touch</h4>
    <p>I’d love to hear from you! Whether you have a question about my work, want to discuss a potential project, or just want to say hello, feel free to reach out.
    <p>You can either give me a phone call at (647)667-9164 and leave a message if I don’t answer, or you can send me an email at winghk@gmail.com</p>
    <p>You can also contact me directly through the form below. Please provide your name, contact number, email address, and a brief message. I’ll do my best to respond as soon as possible.
    
    <p>Thank you for your interest in my work. I look forward to connecting with you!
    </div>
    <%- include ('partials/contact_form.ejs') %>
    </main>
    
    <!--bottom nav-->
    
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   