<% /* %>
 * Author: Kwok Wing Tang
 * File: index.ejs
 * Date: 2023-09-27
<% */ %>
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to my <%= title %> page</h1>
    <p>Welcome to my home page! I am a student of IT and I love to learn new things and share my knowledge with others. I’m thrilled to have you here as I share my journey in the world of Information Technology (IT).</p>
    <h4>My Mission Statement</h4>
    <p>My mission is to leverage technology to solve complex problems and create value. I am committed to continuous learning and growth in the ever-evolving IT landscape. I strive to stay at the forefront of emerging technologies and apply them innovatively to drive efficiency and effectiveness in every project I undertake.</p>
    <p>I believe in the power of collaboration and the exchange of ideas, and I am always open to new perspectives that challenge my own. My goal is to create an inclusive environment where everyone feels valued and heard.</p>

    
    <p>If you want to know more about me, you can <a href="/about">click here to move to About Me page</a>. You can also check out <a href="/projects">my Projects page</a>, where I showcase some of the projects I have done or contributed to. Thank you for visiting my home page and I hope you enjoy browsing my website!</p>
    </div>
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   