<% /* %>
 * Author: Kwok Wing Tang
 * File: projects.ejs
 * Date: 2023-09-27
<% */ %>
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    </div>
    
    <h4>Project 1: Machine Learning for Image Classification</h4>
    <img src="img/project_image1.jpg" height="100" style="float: left; margin: 15px">
<p>I used Python and TensorFlow to build a convolutional neural network that can classify images into different categories. I trained the model on a large dataset of images from various sources and achieved an accuracy of 95% on the test set. I also implemented some data augmentation techniques to improve the generalization of the model. This project demonstrates my skills in machine learning, computer vision, and programming.</p>
<br>
<h4>Project 2: Web Development for a Travel Blog</h4>
<img src="img/project_image2.jpg" height="100" style="float: left; margin: 15px">
<p>I created a responsive and interactive website for a travel blog using HTML, CSS, and JavaScript. The website features a dynamic map that shows the locations of the blog posts, a comment section that allows users to share their opinions, and a contact form that sends emails to the blog owner. I also used Bootstrap and jQuery to enhance the design and functionality of the website. This project showcases my abilities in web development, user interface design, and web technologies.</p>
<br>
<h4>Project 3: Graphic Design for a Book Cover</h4>
<img src="img/project_image3.jpg" height="100" style="float: left; margin: 15px">
<p>I designed a creative and eye-catching book cover for a novel using Adobe Photoshop and Illustrator. The book cover reflects the theme and genre of the novel, which is a mystery thriller set in a futuristic city. I used various tools and effects to create a realistic and captivating image that attracts the readers’ attention. I also chose a suitable font and color scheme for the title and author name. This project illustrates my talents in graphic design, digital art, and typography.</p>
<br>
<h4>Project 4: Quiz App</h4>
<img src="img/project_image4.jpg" height="100" style="float: left; margin: 15px">
<p>I developed a mobile quiz app that allows users to test their knowledge on various topics and compete with other players online. The app features a user-friendly interface, a variety of question types, and a leaderboard system. The app also uses artificial intelligence to generate personalized quizzes based on the user’s preferences and performance. The app was built using React Native, Firebase, and TensorFlow. It has over 1,000 downloads.</p>
    <br>
    <br>
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   