<% /* %>
 * Author: Kwok Wing Tang
 * File: services.ejs
 * Date: 2023-09-27
<% */ %>
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    </div>
      <img src="assets/services_image1.jpg" height="200">
      <h4><i class="fa-solid fa-code"></i> General Programming</h4>
      <p>I offer general programming services for various platforms and languages. I can help you with developing, debugging, testing, and optimizing your code. I have experience in working with Python, Java, C#, Ruby, and more. Whether you need a simple script or a complex application, I can deliver high-quality and efficient solutions for your needs.</p>
      <h4><i class="fa-solid fa-file-code"></i> Web Development</h4>
      <p>I offer web development services for creating attractive and functional websites. I can help you with designing, coding, hosting, and maintaining your website. I have skills in using HTML, CSS, JavaScript, PHP, and WordPress. Whether you need a personal blog or a professional portfolio, I can create a website that suits your style and purpose.</p>
      <h4><i class="fa-solid fa-mobile-screen"></i> Mobile Apps</h4>
      <p>I offer mobile app development services for creating engaging and user-friendly apps. I can help you with designing, coding, publishing, and updating your app. I have expertise in using Android Studio, Xcode, Flutter, and React Native. Whether you need an app for entertainment or education, I can create an app that meets your expectations.</p>
      
      <br>
      <br>
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   